eCatDebug/Connected Services/eCATObservor.eCATInspector/eCAT3R2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.grgbanking.com/product/eCAT3R2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.grgbanking.com/product/eCAT3R2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.grgbanking.com/product/eCAT3R2/Imports">
      <xsd:import namespace="http://www.grgbanking.com/product/eCAT3R2" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://www.grgbanking.com/product/eCAT3" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eCATInspectorSerivceProtocol" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IeCATInspectorService_LoginIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginIn" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_LoginIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginInResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_LoginOff_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginOff" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_LoginOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginOffResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_QuerySnapshotOfData_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySnapshotOfData" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_QuerySnapshotOfData_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySnapshotOfDataResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ListenDataChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:ListenDataChanged" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ListenDataChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListenDataChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_UnlistenDataChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlistenDataChanged" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_UnlistenDataChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlistenDataChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_Hearbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Hearbeat" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_Hearbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HearbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_EndCurrentWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:EndCurrentWorkflow" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_EndCurrentWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndCurrentWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ChangeWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkflow" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ChangeWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ReDrawUI_InputMessage">
    <wsdl:part name="parameters" element="tns:ReDrawUI" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ReDrawUI_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReDrawUIResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_DebugReboot_InputMessage">
    <wsdl:part name="parameters" element="tns:DebugReboot" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_DebugReboot_OutputMessage">
    <wsdl:part name="parameters" element="tns:DebugRebootResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ReLoadUI_InputMessage">
    <wsdl:part name="parameters" element="tns:ReLoadUI" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ReLoadUI_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReLoadUIResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_Reboot_InputMessage">
    <wsdl:part name="parameters" element="tns:Reboot" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_Reboot_OutputMessage">
    <wsdl:part name="parameters" element="tns:RebootResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ShutDown_InputMessage">
    <wsdl:part name="parameters" element="tns:ShutDown" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ShutDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShutDownResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ChangeDataCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDataCache" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_ChangeDataCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDataCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_OnDataChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDataChanged" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_OnDataDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDataDeleted" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_OnDataCacheClear_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDataCacheClear" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_OnPackMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPackMessage" />
  </wsdl:message>
  <wsdl:message name="IeCATInspectorService_OnUnPackMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUnPackMessage" />
  </wsdl:message>
  <wsdl:portType name="IeCATInspectorService">
    <wsdl:operation name="LoginIn">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/LoginIn" message="tns:IeCATInspectorService_LoginIn_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/LoginInResponse" message="tns:IeCATInspectorService_LoginIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginOff">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/LoginOff" message="tns:IeCATInspectorService_LoginOff_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/LoginOffResponse" message="tns:IeCATInspectorService_LoginOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySnapshotOfData">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/QuerySnapshotOfData" message="tns:IeCATInspectorService_QuerySnapshotOfData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/QuerySnapshotOfDataResponse" message="tns:IeCATInspectorService_QuerySnapshotOfData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListenDataChanged">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ListenDataChanged" message="tns:IeCATInspectorService_ListenDataChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ListenDataChangedResponse" message="tns:IeCATInspectorService_ListenDataChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlistenDataChanged">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/UnlistenDataChanged" message="tns:IeCATInspectorService_UnlistenDataChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/UnlistenDataChangedResponse" message="tns:IeCATInspectorService_UnlistenDataChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hearbeat">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/Hearbeat" message="tns:IeCATInspectorService_Hearbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/HearbeatResponse" message="tns:IeCATInspectorService_Hearbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndCurrentWorkflow">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/EndCurrentWorkflow" message="tns:IeCATInspectorService_EndCurrentWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/EndCurrentWorkflowResponse" message="tns:IeCATInspectorService_EndCurrentWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkflow">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ChangeWorkflow" message="tns:IeCATInspectorService_ChangeWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ChangeWorkflowResponse" message="tns:IeCATInspectorService_ChangeWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReDrawUI">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ReDrawUI" message="tns:IeCATInspectorService_ReDrawUI_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ReDrawUIResponse" message="tns:IeCATInspectorService_ReDrawUI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DebugReboot">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/DebugReboot" message="tns:IeCATInspectorService_DebugReboot_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/DebugRebootResponse" message="tns:IeCATInspectorService_DebugReboot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReLoadUI">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ReLoadUI" message="tns:IeCATInspectorService_ReLoadUI_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ReLoadUIResponse" message="tns:IeCATInspectorService_ReLoadUI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reboot">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/Reboot" message="tns:IeCATInspectorService_Reboot_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/RebootResponse" message="tns:IeCATInspectorService_Reboot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShutDown">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ShutDown" message="tns:IeCATInspectorService_ShutDown_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ShutDownResponse" message="tns:IeCATInspectorService_ShutDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDataCache">
      <wsdl:input wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ChangeDataCache" message="tns:IeCATInspectorService_ChangeDataCache_InputMessage" />
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ChangeDataCacheResponse" message="tns:IeCATInspectorService_ChangeDataCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnDataChanged">
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnDataChanged" message="tns:IeCATInspectorService_OnDataChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnDataDeleted">
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnDataDeleted" message="tns:IeCATInspectorService_OnDataDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnDataCacheClear">
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnDataCacheClear" message="tns:IeCATInspectorService_OnDataCacheClear_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPackMessage">
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnPackMessage" message="tns:IeCATInspectorService_OnPackMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUnPackMessage">
      <wsdl:output wsaw:Action="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnUnPackMessage" message="tns:IeCATInspectorService_OnUnPackMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>