eCatDebug/Connected Services/eCATObservor.eCATInspector/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.grgbanking.com/product/eCAT3R2" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eCATInspectorSvrImp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IeCATInspectorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.grgbanking.com/product/eCAT3R2" location="" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_IeCATInspectorService" type="i0:IeCATInspectorService">
    <wsp:PolicyReference URI="#NetTcpBinding_IeCATInspectorService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoginIn">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/LoginIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOff">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/LoginOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySnapshotOfData">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/QuerySnapshotOfData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListenDataChanged">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ListenDataChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlistenDataChanged">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/UnlistenDataChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hearbeat">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/Hearbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndCurrentWorkflow">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/EndCurrentWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeWorkflow">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ChangeWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReDrawUI">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ReDrawUI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DebugReboot">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/DebugReboot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReLoadUI">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ReLoadUI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reboot">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/Reboot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShutDown">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ShutDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDataCache">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/ChangeDataCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataChanged">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnDataChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataDeleted">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnDataDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataCacheClear">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnDataCacheClear" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPackMessage">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnPackMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUnPackMessage">
      <soap12:operation soapAction="http://www.grgbanking.com/product/eCAT3R2/IeCATInspectorService/OnUnPackMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eCATInspectorSvrImp">
    <wsdl:port name="NetTcpBinding_IeCATInspectorService" binding="tns:NetTcpBinding_IeCATInspectorService">
      <soap12:address location="net.tcp://localhost:8806/eCATInspector/Inspector" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8806/eCATInspector/Inspector</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WJW_W540\wjw</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>